doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/master.css')
  body
    .background

    .row.align-corners
        .box.left.blue.span-7
            h1.pilot-logo=title
            .typ-larger
                p Ever wanted to build a website or an app?
                p #{title} will help you learn how to create real products in one action-packed & incredibly fun #{hours_long} hour event.
            p: a.button.large(href="http://google.com") Register >
        .box.copy.right.slate.span-5
            p “I came to this event not knowing what to expect. By the end I had a new group of friends and an end product that I never thought possible, let alone able to be done in just a few hours.” 
            p.typ-small HackMITxPilot attendee

    .row.space-above
        .box.copy.left.white.span-12.typ-large
            p When you come to Pilot, you’ll work in a team of 4 students to brainstorm an idea, bring it to life, and then demo and pitch it for a chance to win prizes and awards. All in just #{hours_long} hours.
            p We’ve lined up the #{city} area’s best designers and developers to help you along the way as you build your website, mobile app, or whatever else you dream up. 
            p: em What will you build?

    ul.row.info-list
        li
            h6 When
            p April 26

        li
            h6 Where
            p Microsoft's Silver Spring office

        li
            h6 Cost
            p Free!


    .row
        .box.title.left.blue.span-3
            h4 Schedule
        .box.copy.slate.span-12
            p Hi here's some copy for this box
